.pad{
    text-align: center;
}
.input-mail{
    background-color: #FFFFFF;
    border-color: #160EF2;
    color: #131111;
    font-size: 25px;
    width: 266px;
    height: 63px;
}
.pad{
    padding-bottom: 30px;
}
.padLog{
    background-color: #F01010;
    border-color: #707070;
    color: #EBE2E2;
}
.img-logo{
    width: 215px;
    height: 184px;
    border-radius: 54px;
}
.input{
    padding-top: 30px;
}
