<DIV class="container" style="width: 100%; height: 100%;">
    <div class="row">
      <div class="col-12 text-center">
        <div style='padding-top:115px; padding-bottom:100px'>
          <img  class="img-logo" src="../../assets/truck.jpg"/>
        </div>
        <div class="pad">
          <button class="input-mail" routerLink='/Register'>สมัครสมาชิก</button>
        </div>
        <div class="pad">
          <button class="input-mail padLog" routerLink="/Login" (click)='logout()'>เข้าสู่ระบบ</button>
        </div>
      </div>
    </div>
  </DIV>
  
