<div class="container">
    <div class="row">
        <div class="col-12 padding-text">
            <div class="padMain" style="padding-top: 140px;">
                <button class="btn-wh" routerLink='/AddData'>บันทึกการขนส่ง</button>
            </div>
            <div class="padMain">
                <button class="btn-wh" routerLink='/Task'>ตรวจสอบตารางการทำงาน</button>
            </div>
            <div class="padMain">
                <button class="btn-wh" routerLink='/salary'>ตรวจสอบค่าแรง</button>
            </div>
            <div class='padExit'>
                <a routerLink='/Home' style='color:white'>ออกจากระบบ</a>
            </div>
        </div>
    </div>
</div>